body {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

/* header styling*/
.header-top {
  color: white;

}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  padding-bottom: 0;
  min-height: 74px;
}

.img {
  width: 75px;
  height: 75px;
  margin-left: 120px;
}

.buttons {
  display: flex;
  gap: 16px;
  font-size: 24px;
  align-items: center;
  margin-right: 20px;
}

/* paragraph styling */

.top {
  background-color: #1f2937;
  color: white;
  min-height: 400px;
}

.hero {
  font-size: 48px;
  margin-top: 0px;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  width: 600px;
}

.img2 {
  height: 300px;
  width: 600px;
  margin: 0 auto;
}

button {
  display: flex;
  height: 40px;
  width: 102px;
  border-radius: 20px;
  background: #3882f6;
  color: white;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  padding: 30px;
}

.container-text {
  margin: 0 auto;
  padding: 58px;
  padding-top: 0px;
}
  
/* top */

.card > img {
 width: 100px;
 height: 100px;
 margin: 0 auto;
}

.header-middle1 {
  display: flex;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: bold;
}


.card-container {
 display: flex;
 gap: 28px;
 justify-content: center;
 font-size: 18px;
 color: #78839a;
}

.card {
  display: flex;
  margin-top: 10px;
  width: 260px;
  height: fit-content;
  flex-direction: column-reverse;
  padding: 10px;
}